Tests: atomic
Depends: libboost-atomic1.83-dev, build-essential, cmake

Tests: chrono
Depends: libboost-chrono1.83-dev, libboost-system1.83-dev, build-essential, cmake

Tests: context
Depends: libboost-context1.83-dev, build-essential, cmake

Tests: container
Depends: libboost-container1.83-dev, libboost-system1.83-dev, build-essential, cmake

Tests: coroutine
Depends: libboost-coroutine1.83-dev, libboost-system1.83-dev, build-essential, cmake

Tests: datetime
Depends: libboost-date-time1.83-dev, build-essential, cmake

Tests: exception
Depends: libboost-exception1.83-dev, build-essential, cmake
Restrictions: allow-stderr

Tests: fiber
Depends: libboost-fiber1.83-dev, build-essential, cmake

Tests: filesystem
Depends: libboost-filesystem1.83-dev, build-essential, cmake

Tests: graph
Depends: libboost-graph1.83-dev, build-essential, cmake
Restrictions: allow-stderr

Tests: graph-parallel
Depends: libboost-graph-parallel1.83-dev, libboost-mpi1.83-dev, libboost-system1.83-dev, mpi-default-dev, build-essential, libgraph-easy-perl, cmake
Architecture: [!armhf]
Restrictions: allow-stderr

Tests: iostreams
Depends: libboost-iostreams1.83-dev, build-essential, cmake

Tests: locale
Depends: libboost-locale1.83-dev, build-essential, cmake

Tests: log
Depends: libboost-log1.83-dev, build-essential, cmake
Restrictions: allow-stderr

Tests: math
Depends: libboost-math1.83-dev, build-essential, cmake

Tests: mpi
Depends: libboost-mpi1.83-dev, mpi-default-dev, build-essential, cmake
Architecture: [!armhf]
Restrictions: allow-stderr

Tests: mpi-python
Depends: libboost-mpi-python1.83-dev, mpi-default-dev, python3-minimal
Architecture: [!armhf]
Restrictions: allow-stderr

Tests: program-options
Depends: libboost-program-options1.83-dev, build-essential, cmake

Tests: python
Depends: libboost-python1.83-dev, python3-minimal, cmake, build-essential, clang
Restrictions: allow-stderr

Tests: random
Depends: libboost-random1.83-dev, build-essential, cmake

Tests: regex
Depends: libboost-regex1.83-dev, build-essential, cmake, html2text

Tests: serialization
Depends: libboost-serialization1.83-dev, libboost-random1.83-dev, build-essential, cmake

Tests: stacktrace
Depends: libboost-stacktrace1.83-dev, libboost-system1.83-dev, build-essential, cmake

Tests: system
Depends: libboost-system1.83-dev, build-essential, cmake
Restrictions: allow-stderr

Tests: test
Depends: libboost-test1.83-dev, build-essential, cmake
Restrictions: allow-stderr

Tests: thread
Depends: libboost-thread1.83-dev, build-essential, cmake
Restrictions: allow-stderr

Tests: timer
Depends: libboost-timer1.83-dev, build-essential, cmake

Tests: type-erasure
Depends: libboost-type-erasure1.83-dev, build-essential, cmake

Tests: wave
Depends: libboost-wave1.83-dev, libboost-thread1.83-dev, build-essential, cmake
